<div class="main-content main">
  <div class="container">
    <div class="content-header">
      Insert News Item
    </div>
    <div class="content-main">
      <form [formGroup]="insertNewsForm" (ngSubmit)="insertNews()">
        <div class="form-group">
          <input (click)="d.toggle()" autocomplete="off" class="form-control" formControlName="date" ngbDatepicker
            #d="ngbDatepicker" placeholder="Date (yyyy-mm-dd)">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="subject" placeholder="Subject">
        </div>
        <div style="overflow: hidden;">
          <div style="width:550px; float: left; height: 198px;" class="form-group">
            <textarea style="height: 198px;" class="form-control textarea" rows="12" formControlName="text"
              placeholder="Enter your text here"></textarea>
          </div>
          <div style="width:352px; float: right; background-color: #fff; height: 198px;">
              <image-cropper style="padding: 0;" [imageChangedEvent]="imageChangedEvent" [resizeToHeight]="352"
                [cropperMinWidth]="352" [maintainAspectRatio]="true" [aspectRatio]="16 / 9" [resizeToWidth]="0" format="png"
                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()">
              </image-cropper>
            </div>
          <label for="file-upload"
            style="background-color: #aca9a9; padding: 5px 0; cursor: pointer; text-align: center; float: right;  width: 352px; ">
            Upload Image
          </label>
          <div class="section-input-area">
            <!-- <label for="file-upload" style="border:0;" class="custom-file-upload lime-green">
              <i class="fa fa-cloud-upload"></i>&nbsp;Select Document
            </label> -->

            <input accept="image/x-png,image/gif,image/jpeg" id="file-upload" size="600" type="file"
              (change)="fileChangeEvent($event)" />
          </div>
        </div>
        <img [src]="croppedImage" width="352" />
        

        <!--   -->



        <!--  -->
        <button type="submit" class="btn btn-primary">Insert News</button>
      </form>
    </div>
  </div>
</div>