.main-content {
  width: 1000px;
  margin: 0 auto;
}
.main-content .container {
  margin-bottom: 50px;
  background-color: #e4e4e4;
  padding: 25px;
}
.main-content .container .content-header {
  text-align: left;
  font-weight: 600;
}
.main-content .container .content-main {
  padding: 10px 0 0 0;
}
.main-content #file-upload {
  display: none;
}
.main-content image-cropper {
  background-color: transparent !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.btn {
  margin-top: 20px;
}
