.footer{
    overflow: hidden; 
    color:#fff;
    z-index: 11; 
    bottom: 0vh; 
    left: 0; 
    width: 100%;
    position: fixed;
    padding-left: 350px; 
    transition: all 0.3s;

    .footer-header{
        overflow:hidden; 
        height: 45px;

        .footer-title{
            float: left; 
            padding: 0 10px;
            font-weight: 600; 
            width: 165px;  
            color:#fff; 
            height: 45px;
            line-height: 45px;
            text-transform: uppercase; 
            font-size: 16px; 
            background-color: #c60001;
        }

        .footer-radio{
            float: right; 
            padding: 0 20px;

            audio{
                height: 40px; 
                width: 250px;
            }
        }

        .audio-label{
            float: right; 
            text-transform: uppercase; 
            line-height: 50px;
        }
    }      

    .headline{
        background-color:#fff; 
        text-transform: uppercase; 
        font-family: 'Oswald', sans-serif; 
        padding: 17px 10px;
        font-size: 1.8vw;      
        color:#000;
    }

    .marqueecontainer{        
        padding: 0 !important;
        height: 49px;

        .marquee{
            margin: 0 !important;
          
            padding: 8px;
            font-size: 22px;           
            font-weight: 600;           
            text-transform: uppercase;
            color: #FFFFFF;

            .material-icons{
                font-size: 20px;
            }
        }
    }  
}

.footer-modeclosed {
    padding-left: 0;
}

@media (max-width:1650px){
    .footer{
        padding-left: 275px;
    }
 }

 @media (max-width:1400px){
    .marqueecontainer{   
        height: 40px !important; 
        .marquee{
            font-weight: 400 !important;
            font-size: 16px !important; 

            .material-icons{
                font-size: 14px !important;
            }
        }
    }
 }

@media (max-width:1150px){
    .headline{        
        font-size: 16px !important;
    }

    .marquee{
        
        font-size: 16px; 

        .material-icons{
            font-size: 20px;
        }
    }
 }