.footer {
  overflow: hidden;
  color: #fff;
  z-index: 2000;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
.footer .footer-header {
  overflow: hidden;
  height: 50px;
}
.footer .footer-header .footer-title {
  float: left;
  padding: 0 10px;
  font-weight: 600;
  width: 175px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #c60001;
}
.footer .footer-header .footer-radio {
  float: right;
  padding: 0 20px;
}
.footer .footer-header .footer-radio audio {
  height: 40px;
  width: 250px;
}
.footer .footer-header .audio-label {
  float: right;
  text-transform: uppercase;
  line-height: 50px;
}
.footer .headline {
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  padding: 20px 10px;
  font-size: 2.1vw;
  color: #000;
}
.footer .marquee-container {
  background-color: #000;
}
.footer .marquee-container .marquee {
  height: 40px;
  font-size: 1.5vw;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}
