<!-- <div class="main-content">
  <div class="container">
    <div class="content-header">
      Update Headline News
    </div>
    <div class="content-main">
      <form [formGroup]="headlineForm" (ngSubmit)="updateHeader()">
        <div class="form-group">
          <input class="form-control" formControlName="text" id="exampleInputEmail1" placeholder="Enter your text here">
        </div>
        <button type="submit" class="btn btn-primary">Update Headline</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="content-header">
      Insert News
    </div>
    <div class="content-main">
      <form [formGroup]="insertNewsForm" (ngSubmit)="insertNews()">
        <div class="form-group">
          <input class="form-control" formControlName="date" id="exampleInputEmail1" placeholder="Date (yyyy-mm-dd)">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="subject" id="exampleInputEmail1" placeholder="Subject">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="text" id="exampleInputEmail1" placeholder="Enter your text here">
        </div>
        <button type="submit" class="btn btn-primary">Insert News</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="content-header">
      Insert Chart
    </div>
    <div class="content-main">
      <form [formGroup]="insertChartForm" (ngSubmit)="insertChart()">
        <div class="form-group">
          <input class="form-control" formControlName="date" id="insertChartDate" placeholder="Date (yyyy-mm-dd)">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="confirmed" id="insertChartConfirmed" placeholder="Confirmed">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="deaths" id="insertChartDeaths" placeholder="Deaths">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="recovered" id="insertChartRecovered" placeholder="Recovered">
        </div>
        <button type="submit" class="btn btn-primary">Insert Chart</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="content-header">
      Update Cases
    </div>
    <div class="content-main">
      <form [formGroup]="updateCaseForm" (ngSubmit)="updateCase()">
        <div class="form-group">
          <input class="form-control" formControlName="date" id="updateCaseDate" placeholder="Date (yyyy-mm-dd)">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="tested" id="updateCaseTested" placeholder="Tested">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="negative" id="updateCaseNegative" placeholder="Negative">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="positive" id="updateCasePositive" placeholder="Positive">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="unfinished" id="updateCaseFinished" placeholder="Unfinished">
        </div>
        <button type="submit" class="btn btn-primary">Update Cases</button>
      </form>
    </div>
  </div>
</div> -->