.nav-wrap{
    position: fixed;
     top: 0; 
     z-index: 9;
     background-image: linear-gradient(rgba(0,0,0,0.4), transparent);
     width: 100%;
}

.bg-light{
     background-color: transparent !important; 
}

.navbar-brand{
    color: #fff !important; 
    text-transform: uppercase;
    line-height: 20px;

    .place{
        font-size: 12px;
        color: rgba(255,255,255,0.6);
    }
}

audio{
    height: 40px;
    width: 200px;
}

li{
    padding: 0 5px;
}

.my-modal-content{
    padding: 20px !important;
}

.modal-head{
    text-align: center;
    font-size: 18px;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.zoneActivitiesTitle{
    border: 0px solid;
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    background-color: #010050;
    font-weight: 600;
    color:#fff;
    width: 120px;
    margin-bottom: 10px;
}

.zoneActivitiesWrapper{
    height: 272px;
    overflow-y: scroll;

    .zoneActivitiesContent{
        background-color: #E0F0F8;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }
}
