.nav-wrap{
    position: fixed;
     top: 0; 
     z-index: 9;
     background-image: linear-gradient(rgba(0,0,0,0.3), transparent);
    //  background-color: rgba(0,0,0, 1);
     width: 100%;
     height: 100px !important;
     padding-left: 400px;
}

.news-mob{
    display: none;
}

.bg-light{
     background-color: transparent !important; 
}

.navbar-brand{
    color: #fff !important; 
    text-transform: uppercase;
    line-height: 20px;

    .place{
        font-size: 12px;
        color: rgba(255,255,255,0.6);
    }
}

audio{
    height: 40px;
    width: 200px;
}

li{
    padding: 0 5px;
}

.my-modal-content{
    padding: 20px !important;
}

.modal-head{
    text-align: center;
    font-size: 18px;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.zoneActivitiesTitle{
    border: 0px solid;
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    background-color: #010050;
    font-weight: 600;
    color:#fff;
    width: 120px;
    margin-bottom: 10px;
}

.zoneActivitiesWrapper{
    height: 272px;
    overflow-y: scroll;

    .zoneActivitiesContent{
        background-color: #E0F0F8;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }
}

@media (max-width:1650px){
    .nav-wrap{
         padding-left: 275px;
    }

}

@media (max-width:1150px){
    .nav-wrap{
       
        padding-left: 0px;
   }

   .news-mob{
    display: block !important;
}
}

@media (max-width:500px){
    .nav-wrap{
        background:  rgba(0,0,0,0.5) !important;
    }

   

    .news-norm{
        display: none !important;
    }

    .btn{
        margin-bottom: 5px;
    }  

}
