.nav-wrap {
  position: fixed;
  top: 0;
  z-index: 9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  width: 100%;
}
.bg-light {
  background-color: transparent !important;
}
.navbar-brand {
  color: #fff !important;
  text-transform: uppercase;
  line-height: 20px;
}
.navbar-brand .place {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
audio {
  height: 40px;
  width: 200px;
}
li {
  padding: 0 5px;
}
