<div class="nav-wrap">
  <div class="nav-banner">
    <span class="x-larger-banner"><a href="http://www.cnn.com" target="_blank"><img
          src="../../../assets/img/banner.png"></a></span>
    <span class="larger-banner"><a href="http://www.cnn.com" target="_blank"><img
          src="../../../assets/img/banner-large.png"></a></span>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/logo.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item normal-link">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item mob-link" data-toggle="collapse" data-target="#navbarSupportedContent">
          <a class="nav-link"  routerLink="/home" >Home</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent">
          <a class="nav-link mob-link"  routerLink="/news">Nieuws</a>
        </li>
        <li class="nav-item dropdown normal-link">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Radio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item">
              <span (click)="onAudioPlay('https://corona-news.westream.cloud/coronaNews', '1')">Dolfijn Update 
                <span *ngIf="globals.player.isPlaying && globals.player.playerId == '1'">&nbsp;<img src="../../../assets/img/audio.svg" height="16" /></span> 
              </span>
              &nbsp;
              <!-- <span *ngIf="currentRadio != '1'">Play</span>&nbsp;
              <span *ngIf="currentRadio == '1'">Stop</span> -->
            </a>
            <a class="dropdown-item">
              <span (click)="onAudioPlay('http://85.214.231.253:8080/;', '2')">Dolfijn FM 97.3
                <span *ngIf="globals.player.isPlaying && globals.player.playerId == '2'">&nbsp;<img src="../../../assets/img/audio.svg" height="16" /></span> 
              </span>
              <!-- <span *ngIf="currentRadio != '2'">Play</span> &nbsp;
              <span *ngIf="currentRadio == '2'">Stop</span> -->
            </a>
          </div>
        </li>
        <li class="nav-item dropdown mob-link">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Radio
          </a>
          <div class="dropdown-menu" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item">
              <span (click)="onAudioPlay('https://corona-news.westream.cloud/coronaNews', '1')">Dolfijn Update</span>
              &nbsp;
              <span *ngIf="currentRadio != '1'">Play</span>&nbsp;
              <span *ngIf="currentRadio == '1'">Stop</span>
            </a>
            <a class="dropdown-item">
              <span (click)="onAudioPlay('http://85.214.231.253:8080/;', '2')">Dolfijn FM 97.3</span>&nbsp;
              <span *ngIf="currentRadio != '2'">Play</span> &nbsp;
              <span *ngIf="currentRadio == '2'">Stop</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown normal-link">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Video
          </a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a routerLink="/pressconf" class="dropdown-item">Persconferentie</a>
            <a routerLink="/videoupdate" class="dropdown-item">Dolfijn Updates</a>
          </div>
        </li>
        <li class="nav-item dropdown mob-link">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Video
          </a>
          <div class="dropdown-menu" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-labelledby="navbarDropdownMenuLink">
            <a routerLink="/pressconf" class="dropdown-item">Persconferentie</a>
            <a routerLink="/videoupdate" class="dropdown-item">Dolfijn Updates</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openDrugstores(drugstoresModal)">Apotheken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.open('https://gobiernu.cw/nl')">Website Overheid</a>
        </li>
        <li *ngIf="authenticationService && authenticationService.currentUserValue" class="nav-item">
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dashboard
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/updateheadline" class="dropdown-item">Update Headline News</a>
              <a routerLink="/insertnews" class="dropdown-item">Insert News Item</a>
              <a routerLink="/updatechart" class="dropdown-item">Update Chart</a>
              <a routerLink="/updatecase" class="dropdown-item">Update Case Information</a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item">Log Out</a>
            </div>
          </div>
        </li>
        <!-- <li class="nav-item">
          <button routerLink="/live" type="button" class="btn btn-danger">Live</button>
        </li> -->
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <!-- <audio controls="" src="https://corona-news.westream.cloud/coronaNews">
          Your browser does not support the
          <code>audio</code> element.
        </audio> -->
      </div>
    </div>
  </nav>
</div>
<ng-template #drugstoresModal let-modal>
  <div class="my-modal-content">
    <div class="zoneActivitiesTitle">
      Apotheken
    </div>
    <div class="zoneActivitiesWrapper">
      <div class="zoneActivitiesContent" *ngFor="let drugstore of drugStores; let last = last">
        <span>{{drugstore.name}}</span><br />
        <span class="item-txt">{{drugstore.address}}</span><br />
        <span class="item-txt">{{drugstore.telephone}}</span>
      </div>
    </div>
  </div>
</ng-template>