<div class="nav-wrap">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Corona Watch<br /><span class="place">Willemstad, Cura&ccedil;ao</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button routerLink="/home" type="button" class="btn btn-primary">Home</button>
        </li>
        <li class="nav-item">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">Nieuws</button>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Videos
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/pressconf" class="dropdown-item">Persconferentie</a>
              <a routerLink="/videoupdate" class="dropdown-item">Dolfijn Update</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button type="button" (click)="openDrugstores(drugstoresModal)" class="btn btn-primary">Apotheken</button>
        </li>
        <li class="nav-item">
          <button onclick="window.open('https://gobiernu.cw/')" type="button" class="btn btn-primary">Website
            Overheid</button>
        </li>
        <li *ngIf="authenticationService && authenticationService.currentUserValue" class="nav-item">
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dashboard
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/updateheadline" class="dropdown-item">Update Headline News</a>
              <a routerLink="/insertnews" class="dropdown-item">Insert News Item</a>
              <a routerLink="/updatechart" class="dropdown-item">Update Chart</a>
              <a routerLink="/updatecase" class="dropdown-item">Update Case Information</a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item">Log Out</a>
            </div>
          </div>
        </li>
        <!-- <li class="nav-item">
          <button routerLink="/live" type="button" class="btn btn-danger">Live</button>
        </li> -->
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <!-- <audio controls="" src="https://corona-news.westream.cloud/coronaNews">
          Your browser does not support the
          <code>audio</code> element.
        </audio> -->
      </div>
    </div>
  </nav>
</div>
<ng-template #drugstoresModal let-modal>
  <div class="my-modal-content">
    <div class="zoneActivitiesTitle">
      Apotheken
    </div>
    <div class="zoneActivitiesWrapper">
      <div class="zoneActivitiesContent" *ngFor="let drugstore of drugStores; let last = last">
        <span>{{drugstore.name}}</span><br />
        <span class="item-txt">{{drugstore.address}}</span><br />
        <span class="item-txt">{{drugstore.telephone}}</span>
      </div>
    </div>
  </div>
</ng-template>