<div class="nav-wrap">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Corona Watch<br /><span class="place">Willemstad, Cura&ccedil;ao</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button routerLink="/home" type="button" class="btn btn-primary">Home</button>
        </li>
        <li class="nav-item">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">Nieuws</button>
        </li>
        <!-- <li class="nav-item">
          <button type="button" class="btn btn-primary">Live Nieuws Radio</button>
        </li>  -->
        <li class="nav-item">
          <button routerLink="/pressconf" type="button" class="btn btn-primary">Videos</button>
        </li>
        <li class="nav-item">
          <button onclick="window.open('https://gobiernu.cw/')" type="button" class="btn btn-primary">Website
            Overheid</button>
        </li>
        <li *ngIf="authenticationService && authenticationService.currentUserValue" class="nav-item">
          <button routerLink="/dashboard" type="button" class="btn btn-info">Dashboard</button>
        </li>
        <li *ngIf="authenticationService && authenticationService.currentUserValue" class="nav-item">
          <button (click)="logout()" type="button" class="btn btn-info">Log Out</button>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <!-- <audio controls="" src="https://corona-news.westream.cloud/coronaNews">
          Your browser does not support the
          <code>audio</code> element.
        </audio> -->
      </div>
    </div>
  </nav>
</div>