.item-container{
    padding: 20px;
    background-color: #e0f0fb;
    
    .item-title{
        font-weight: 700; 
        color:#010050;
        font-size: 18px;
    }

    .item-subject{
        font-weight: 700; 
        color:#010050;
        font-size: 16px;
    }

    .item-text{
        color:#010050;
    }
}