.home-wrapper{
    overflow: hidden; 
    padding-left: 400px;

    .home-left-wrapper{
        float: right; 
        width: 30%; 
        padding: 0 20px;
        
    }   

    .home-right-wrapper{
        float:left;
        width: 70%; 
        padding: 5% 10px;
    }
}



.activities-container{
    overflow: hidden;

    .active{
        background-color: #008ecd !important;
    }

    .zoneActivitiesTitle{
        cursor: pointer;
        float: left;
        border: 0px solid;
        margin-right: 10px;
        border-radius: 3px;
        padding: 6px;
        text-align: center;
        background-color: #c7c8ca;
        font-weight: 600;
        color:#fff;
        width: 120px;
        margin-bottom: 10px;
    }
}

.zoneActivitiesWrapper{
    height: 235px;
    overflow-y: scroll;

    .zoneActivitiesContent{
        background-color: #E0F0F8;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }
}



.item-txt{
    font-size: 13px;
    font-weight: normal;
}

.my-modal-content{
    padding: 20px !important;
}

.modal-head{
    text-align: center;
    font-size: 18px;
    padding: 0 0 10px 0;
    font-weight: 600;
}

.model-content{
   border:0;
}

.svg{
    transition: all 0.3s;
    transform: rotate(13deg);
}

@media (max-width:1770px){
   
    .home-left-wrapper{
        width: 35% !important;         
    }   

    .home-right-wrapper{
        width: 65% !important; 
    }
 }

 @media (max-width:1650px){
    .home-wrapper{
         padding-left: 275px;
    }

}

 @media (max-width:1500px){
   
    .home-left-wrapper{
        width: 40% !important;         
    }   

    .home-right-wrapper{
        width: 60% !important; 
    }
 }

 @media (max-width:1350px){
   
    .home-left-wrapper{
        width: 50% !important;         
    }   

    .home-right-wrapper{
        width: 50% !important; 
    }
 }
 

@media (max-width:1150px){

    .home-wrapper{
        padding-left: 0 !important;
    }
   
    .home-right-wrapper{
         width: 100% !important;
         float: none !important;
         padding: 30px 20px !important;
    }

    .home-left-wrapper{
        width: 100% !important;
        float: none !important;
   }

   .svg{
        transform: rotate(0deg) !important;
   }
}

.distict{
    fill: rgba(76,78,86, 0.25);
    stroke: solid 1px #fff;
}

.distictOn{
    fill: rgba(0,142,205, 0.5);
    cursor: pointer;
}

.distictOn:hover{
    // stroke: rgba(255,255,255, 0.7);
    fill: rgba(0,142,205, 0.7);
    stroke-width: 1px;
 
}

@media (max-width:500px){
    .home-right-wrapper{
        display: none !important;
    }
}

// ::-webkit-scrollbar {
//     width: 10px;
//   }


//   ::-webkit-scrollbar-track {
//     background: #e0f0fb;
//   }
  

//   ::-webkit-scrollbar-thumb {
//     background: #b3d3e8;
//   }

//   ::-webkit-scrollbar-thumb:hover {
//     background: #91b5cd;
//   }
