.home-wrapper{
    overflow: hidden; 
    height: 100%;
    padding-top: 130px;
    padding-bottom: 200px;

    .home-left-wrapper{
        float: right; 
        width: 30%; 
        padding: 0 20px;
        
    }   

    .home-right-wrapper{
        float:left;
        width: 70%; 
        padding: 5% 10px;
    }
}


.modal-body, .modal-header{
    background-color: none;
    border-radius: 0 !important;
    border:0px;
}

.model-content{
   border:0;
}

.svg{
    transition: all 0.3s;
    transform: rotate(13deg);
}

@media (max-width:1770px){
   
    .home-left-wrapper{
        width: 35% !important;         
    }   

    .home-right-wrapper{
        width: 65% !important; 
    }
 }

 @media (max-width:1500px){
   
    .home-left-wrapper{
        width: 40% !important;         
    }   

    .home-right-wrapper{
        width: 60% !important; 
    }
 }

 @media (max-width:1350px){
   
    .home-left-wrapper{
        width: 50% !important;         
    }   

    .home-right-wrapper{
        width: 50% !important; 
    }
 }
 

@media (max-width:1150px){
   
    .home-right-wrapper{
         width: 100% !important;
         float: none !important;
         padding: 30px 20px !important;
    }

    .home-left-wrapper{
        width: 100% !important;
        float: none !important;
   }

   .svg{
        transform: rotate(0deg) !important;
   }
}

.distict{
    fill: rgba(255,255,255, 0.34);
    stroke: solid 1px #fff;
}

.distictOn{
    fill: rgba(255,255,255, 0.75);
    cursor: pointer;
}

.distictOn:hover{
    // stroke: rgba(255,255,255, 0.7);
    fill: rgba(255,255,255, 1);
    stroke-width: 1px;
 
}

