<div class="home-wrapper">
      <div class="home-left-wrapper">
            <app-chart></app-chart>            
      </div>
      <div class="home-right-wrapper">
            <svg version="1.1" class="svg" id="svgMap" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="14.03 16.979 578.314 167.009"
                  enable-background="new 14.03 16.979 578.314 167.009" xml:space="preserve">
                  <g id="Layer_1">
                        <ng-template ngFor let-district [ngForOf]="districts">
                              <path *ngIf="district.Type == 'path'" (click)="set(district)" [ngClass]="{'distict': district.HasPoll == '0', 'distictOn': district.HasPoll == '1'}"
                                    [attr.d]="district.Shape" />
                              <polygon *ngIf="district.Type == 'polygon'" (click)="set(district)" [ngClass]="{'distict': district.HasPoll == '0', 'distictOn': district.HasPoll == '1'}"
                                    [attr.points]="district.Shape" />
                        </ng-template>
                  </g>
            </svg>
      </div>
      
</div>