#chart1 {
  width: 100%;
}
.chart-container {
  width: 470px;
  margin-bottom: 50px;
  background-color: #fff;
}
.chart-container .chart-items-container {
  background-color: rgba(44, 185, 238, 0.6);
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.chart-container .chart-items-container .bg-color1 {
  background-color: rgba(0, 0, 0, 0.6);
}
.chart-container .chart-items-container .bg-color2 {
  background-color: rgba(44, 185, 238, 0.6);
}
.chart-container .chart-items-container .bg-color3 {
  background-color: rgba(44, 185, 238, 0.3);
}
.chart-container .chart-items-container .chart-items {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.chart-container .chart-items-container .chart-items .item-amount {
  font-size: 30px;
}
.row {
  margin: 0 !important;
}
