<div *ngIf="chartData" class="chart-container">
  <div class="chart-items-container">
    <div class="chart-items bg-color1">
      <div>Bevestigd</div>
      <div class="item-amount">{{chartData.sum.confirmed}}</div>
    </div>
    <div class="chart-items bg-color2">
      <div>Sterfgevallen</div>
      <div class="item-amount">{{chartData.sum.deaths}}</div>
    </div>
    <div class="chart-items bg-color3">
      <div>Hersteld</div> 
      <div class="item-amount">{{chartData.sum.recovered}}</div>
    </div>  
  </div>             
  <div  id="chart1"></div>
</div> 
<div *ngIf="testData" class="chart-container">
  <div id="chart2"></div>   
</div>       