#chart1 {
  width: 100%;
}
.chart-items-container-mobile {
  display: none;
}
.chart-container-mobile {
  background-color: #e0f0fb;
  padding: 15px;
  color: #010050;
}
.chart-container {
  width: 380px;
  margin-bottom: 50px;
  background-color: #fff;
}
.chart-container .chart-items-container {
  background-color: rgba(44, 185, 238, 0.6);
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.chart-container .chart-items-container .bg-color1 {
  background-color: #008ecd;
}
.chart-container .chart-items-container .bg-color2 {
  background-color: #c60001;
}
.chart-container .chart-items-container .bg-color3 {
  background-color: #19b73b;
}
.chart-container .chart-items-container .chart-items {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.chart-container .chart-items-container .chart-items .item-amount {
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 1150px) {
  .chart-container {
    margin: 0 auto 50px auto !important;
  }
}
@media (max-width: 500px) {
  .chart-container {
    width: 100%;
  }
  .chart-items-container-mobile {
    display: block !important;
    padding: 10px;
    color: #010050;
  }
  .chart-items-container {
    display: none !important;
  }
}
.row {
  margin: 0 !important;
}
