<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-container">
            <!-- <div style="position: fixed; width: 400px;" class="sidebar-header">
                Dagelijkse ontwikkelingen COVID-19
            </div> -->
            <div>
                <div class="item-container">
                    <div class="item-title">
                        Maandag 16 maart 2020
                    </div>
                    <div class="item-text">
                        [LUCHTRUIM] Zonet is in de persconferentie bekend gemaakt dat alle vluchten worden gestaakt,
                        naast
                        de
                        al geannuleerde vluchten vanuit Europa. Met uitzondering voor mensen die op het eiland wonen en
                        terugkeren. Zij moeten in bezit zijn van een Sedula en retourticket om te kunnen terugkeren.
                        Uitzondering is er voor vluchten met het oog op medische hulpverlening op onze zustereilanden.
                        (Aruba,
                        Bonaire, Saba, Sint Maarten en Saba).
                        Iedereen die nu nog uit het buitenland terugkomt naar huis op Curacao moet uit voorzorg in
                        quarantaine.
                        De enigen die nu nog van het eiland af mogen zijn mensen die niet op het eiland wonen en terug
                        naar
                        hun
                        thuisland willen. Met andere woorden: heb je een retourticket en ben je bijvoorbeeld op
                        vakantie
                        dan
                        kun je gewoon op je geplande vertrekdatum van het eiland af.<br /><br />

                        [EVENEMENTEN & HORECA] De regering vraagt aan restaurants, snacks en andere eetgelegenheden om
                        rekening
                        te houden met het coronavirus. Daarom vraagt de regering de horeca strikt de hygiene regels na
                        te
                        leven, twee meter afstand te houden, over te gaan op take-out of anders de deuren te sluiten.
                        Ook
                        zijn
                        alle evenementen, ongeacht al uitgegeven vergunningen, geannuleerd.
                    </div>
                </div>
                <div class="item-container">
                    <div class="item-title">
                        Zondag 15 maart 2020
                    </div>
                    <div class="item-text">
                        Om de scholen op Cura&ccedil;ao goed voor te kunnen bereiden voor wat betreft preventieve
                        maatregelen
                        tegen Covid-19, worden alle scholen vanaf dinsdag 17 a.s. gesloten voor de rest van de week.<br /><br />
                        Uitgezonderd zijn groep 8 van het Funderend Onderwijs vanwege de voorbereidingen op de EFO en
                        de
                        examenklassen van de scholen voor voortgezet onderwijs (HAVO, VWO en VSBO) vanwege hun examens.
                        Leerlingen van de genoemde klassen hebben normaal school!<br /><br />
                        Na een evaluatie zal op donderdag 19 maart a.s. besloten worden of de noodzaak bestaat voor het
                        langer
                        sluiten van de scholen.<br /><br />
                        De beslissing is genomen in nauw overleg tussen de Cura&ccedil;aose Overheid en de
                        verschillende
                        schoolbesturen.<br /><br />
                        De overheid en de schoolbesturen zullen gezamenlijk een verklaring uitbrengen over deze
                        voorbereidende
                        maatregel.
                    </div>
                </div>
            </div>

        </div>

    </nav>
    <!-- Page Content -->
    <div id="content">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>

<!-- 
<router-outlet></router-outlet>
<app-footer></app-footer> -->