.wrapper {
    display: flex;
    align-items: stretch;  
}

#content{
    width:100%;
}

#sidebar { 
    z-index: 10;
     min-width: 450px;
     max-width: 450px;
    // min-height: 100vh;
    height: 100%;
    overflow: hidden !important;
    background: #e0f0fb;
    color: #fff;
    position: absolute;
    transition: all 0.3s;  
    display: none;
}

.sidebarCollapse{
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    text-align: right;
    .material-icons{
        line-height: 40px;
        color:#000;
        cursor: pointer;
        color:#5282a4;
    }
}

.sidebar-container{
    position: fixed; 
    width: 450px;
    overflow-y:scroll;
    height: 100%;  
    background-color: #fff;  
}

#sidebar.active {
    display: none;
} 

@media (max-width:1650px){
    #sidebar{
        min-width: 275px !important;
        max-width: 275px !important;
    } 

    .sidebar-container{
        width: 275px !important;
    }

    #sidebar.active{
        margin-left: -275px !important;
    }
 }

 @media (max-width:1150px){
    #sidebar{
        display: none;
    }     
 }

#sidebar .sidebar-header {
    padding: 15px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    
    font-size: 12px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0f0fb;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b3d3e8;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #91b5cd;
  }

  

 