.login-content{
    width: 500px;
    margin: 100px auto;
    background-color: #e0f0fb;
    padding: 20px;
    color: #010050;

    .login-content-header{
        text-align: center;
        font-weight: 600;
    }
}