<div class="main">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGobiernuKorsou%2Fvideos%2F195100905113333%2F&show_text=0&width=560"
          width="400" height="225" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allowFullScreen="true"></iframe>
        <div style="text-align: center; color:#010050;" class="card-body">
          <p class="card-text">Persconferentie maandag 16 maart 2020</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGobiernuKorsou%2Fvideos%2F2699881930269669%2F&show_text=0&width=560"
          width="400" height="225" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allowFullScreen="true"></iframe>
        <div style="text-align: center; color:#010050;" class="card-body">
          <p class="card-text">Persconferentie maandag 15 maart 2020</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGobiernuKorsou%2Fvideos%2F588578911732733%2F&show_text=0&width=560"
          width="400" height="225" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allowFullScreen="true"></iframe>
        <div style="text-align: center; color:#010050;" class="card-body">
          <p class="card-text">Persconferentie maandag 15 maart 2020</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGobiernuKorsou%2Fvideos%2F506598626941931%2F&show_text=0&width=560"
          width="400" height="225" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allowFullScreen="true"></iframe>
        <div style="text-align: center; color:#010050;" class="card-body">
          <p class="card-text">Persconferentie maandag 14 maart 2020</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGobiernuKorsou%2Fvideos%2F642760009842212%2F&show_text=0&width=560"
          width="400" height="225" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allowFullScreen="true"></iframe>
        <div style="text-align: center; color:#010050;" class="card-body"> 
          <p class="card-text">Persconferentie maandag 13 maart 2020</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      &nbsp;
    </div>
  </div>
</div> 