.main-content {
  width: 1000px;
  padding-top: 100px;
  color: #010050;
  margin: 0 auto;
  padding-bottom: 200px;
}
.main-content .container {
  margin-bottom: 50px;
  background-color: #e0f0fb;
  padding: 25px;
}
.main-content .container .content-header {
  text-align: left;
  font-weight: 600;
}
.main-content .container .content-main {
  padding: 10px 0 0 0;
}
